/.sauce.env
/Applications
/Desktop
/Documents
/Downloads
/Library
/Movies
/Music
/Pictures
/Public
/TODO.md
/bin
/crashplan-alexharford.sock
/go
/log.md
/repos
/test_code
/.ssh/id*
/.ssh/known_hosts
/*.swp
/.CFUserTextEncoding
/.DS_Store
/.Trash/
/.Xauthority
/.bash_history
/.bash_sessions/
/.cache/
/.config/configstore/
/.cups/
/.docker/
/.flyrc
/.gitignore.swp
/.gnupg/openpgp-revocs.d/
/.gnupg/private-keys-v1.d/
/.gnupg/pubring.kbx
/.gnupg/pubring.kbx~
/.gnupg/random_seed
/.gnupg/trustdb.gpg
/.helm/
/.ipython/
/.iterm2/
/.iterm2_shell_integration.bash
/.kube/
/.lesshst
/.links/
/.local/
/.log.md.swp
/.minikube/
/.npm/
/.password-store/
/.pylint.d/
/.python_history
/.serverauth.99384
/.subversion/
/.vim/
/.viminfo
/.virtualenvs
/.wget-hsts
/.zoomus/
